*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  height: 100vh;
  height: -webkit-fill-available;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10rem;
  height: 100vh;
  height: -webkit-fill-available;
}

button {
  background-color: transparent;
  border: 0.2rem solid black;
  padding: 0.6rem 1.8rem;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

button:hover {
  background-color: black;
  color: white;
}

nav {
  border: 2px solid black;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  padding: 5px 10px;
}

ul li:not(:last-child) {
  border-bottom: 2px solid black;
}
